.bg-grid-pattern {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

.donations-carousel .swiper-slide {
  height: auto;
}

@media (min-width: 1024px) {
  .donations-carousel .swiper-slide {
    width: 380px;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse-slow {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.05);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite;
}

.animate-spin-reverse-slow {
  animation: spin-reverse-slow 20s linear infinite;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
